<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
  <link rel="stylesheet" href="/style.css">
  <script defer src="client.js"></script>
  <title>Your Betting App</title>
</head>
<body>
  <!-- Your HTML content here -->
  <h1 style="text-align: center;"> Gaming Home Page</h1>
   <p>logout?<a href="/logout">logout</p>
</body>
</html>

